---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% assign all_years = publications | uniq: "year" | sort: "desc" %}

{% for year in all_years %}
  <h2>{{ year }}</h2>
  <ul class="pub-list">
  {% assign year_pubs = publications | where: "year", year %}
    {% if year_pubs.size > 0 %}  {% for pub in year_pubs %}
        <li>
          <a href="{{ pub.url_paper }}">{{ pub.title }}</a>
          - {{ pub.authors }}  <br>
          <i>{{ pub.publication }}</i>, {{ pub.year }}
        </li>
      {% endfor %}
    {% else %}
      <li>No publications in {{ year }}</li>  {% endif %}
  </ul>
{% endfor %}
